* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  background-color: rgb(180, 241, 100);
}

body {
  font-family: "Quicksand", sans-serif;
  margin: unset;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  all: unset;
  display: block;
}

ul,
li {
  all: unset;
}

body.sidebar-open .sidebar_hamburger {
  transform: translateX(300px);
}

body.sidebar-open .sidebar_content {
  transform: translateX(0);
}

.main_content {
  transition: transform 500ms ease;
}

body.sidebar-open .main_content {
  transform: translateX(300px);
}
